<div class="hero-body is-block" style="height: 40vh; padding: 0.5rem 10vw 120px 10vw;">
  <p class="is-hidden-desktop"><i class="fas fa-exchange-alt faa-horizontal faa-reverse animated faa-slow"></i></p>
  <!-- 第一區 -->
  <div id="c-btns" class="column is-marginless">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片01 Twtter-->
        <button id="c-btn-01" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-01}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-01}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-01}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                @{{site.data.ui-data.contact-subtitle-01}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片02 Pixiv-->
        <button id="c-btn-02" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-02}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-02}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-02}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-02}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片03 PixivFanbox-->
        <button id="c-btn-03" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-03}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-03}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-03}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-03}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片04 Pixiv-->
        <button id="c-btn-04" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-04}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-04}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-04}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-04}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片05 Pixiv-->
        <button id="c-btn-05" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-05}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-05}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-05}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-05}}</p>
            </div>
          </div> 
        </button>
      </div>
    </nav>
  </div>
  <!-- 第二區 -->
  <div id="c-btns" class="column is-marginless">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片06 PixivFanbox-->
        <button id="c-btn-06" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-06}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-06}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-06}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-06}}</p>
            </div>
          </div> 
        </button>
      </div>

      <div class="level-item has-text-centered is-marginless"> <!-- 卡片07 Twitch-->
        <button id="c-btn-07" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-07}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-07}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-07}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-07}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片08 Plurk-->
        <button id="c-btn-08" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-08}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-08}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-08}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-08}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片09 巴哈姆特-->
        <button id="c-btn-09" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-09}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-09}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-09}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-09}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片10 Imgur-old-->
        <button id="c-btn-10" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-10}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-10}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-10}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-10}}</p>
            </div>
          </div> 
        </button>
      </div>
      <div class="level-item has-text-centered is-marginless"> <!-- 卡片11 Imgur-2020-->
        <button id="c-btn-11" class="button is-white is-large is-paddingless is-marginless" onclick="location.href='{{site.data.ui-data.contact-link-11}}'">
          <div class="media" style=" padding: 10px;">
            <figure class="media-left is-paddingless is-marginless">
                <img class="image is-48x48" src="{{site.url}}{{site.baseurl}}{{site.data.ui-data.contact-img-11}}">
            </figure>
            <div class="media-content" style="overflow: hidden; padding: 0px 6px;">
              <p class="title is-size-4">{{site.data.ui-data.contact-title-11}}</p>
              <p class="text is-size-7 has-text-right has-text-weight-light" style="margin-top: -3px;">
                {{site.data.ui-data.contact-subtitle-11}}</p>
            </div>
          </div> 
        </button>
      </div>
    </nav>
  </div>
</div>
